th {
    font-family: Monospace;
}

p {
    font-family: Monospace;
}

.pomodoro-estimate {
    font-weight: bold;
    color: #cccccc;
    background-color: #E4FFF8;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

#add-to-do-button {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: monospace;
    margin-left: 50px;
}

th {
    text-align: left;
}

#centered {
    text-align: center;
}

#listtitle {
    margin-left: 120px;
    color: #b3b3ff;
    font-family: Georgia;
}

#todotitle {
    margin-left: 18px;
    color: #b3b3ff;
    font-family: Georgia;
}

#new-todo {
    position: fixed;
    top: -10px;
    right: 30px;
}