body {
    font-family: Monospace;
}

.pomodoro-estimate {
    font-weight: bold;
    color: #cccccc;
    background-color: #E4FFF8;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

#add-to-do-button {
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: monospace;
}

#centered {
    text-align: center;
}

.header {
    color: #b3b3ff;
    font-family: Georgia;
}

#new-todo {
    position: fixed;
    top: -10px;
    right: 30px;
}

#back-button {
    background-color: #FF613F;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: monospace;
}

#new-todo-button {
    background-color: #A9A9A9;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: monospace;
}