h1 {
    color: #b3b3ff;
    font-family: Georgia;
}

#todo_num {
    color: #B0ADAC;
}

#pomodoro-estimate {
    font-weight: bold;
    color: #cccccc;
    background-color: #E4FFF8;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}