h1 {
    color: #b3b3ff;
    font-family: Georgia;
}    

#pomodoro-estimate {
    font-weight: bold;
    color: #cccccc;
    background-color: #E4FFF8;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

#delete-one-button {
    background-color: #FF613F;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 23px;
    font-family: monospace;
    margin-left: 10px;
}

#back-one-button {
    background-color: #ACAC9B;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 23px;
    font-family: monospace;
    margin-right: 10px;
}

#edit-button {
    background-color: #755893;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 23px;
    font-family: monospace;
    margin-left: 10px;
    margin-right: 10px;
}

#update-button {
    background-color: #F8F270;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 25px;
    font-family: monospace;
}