<div style="text-align: center">
    <h1>To-Do List</h1>
    <div style="display: inline-block; text-align: left;">
        <table>
            <tr>
                <th id="centered">To-Do(s)</th>
                <th id="centered">Promodoro(s)</th>
            </tr>
            <%@todos.each do |todo|%>
            <tr>
                <td>
                    <input type="checkbox">
                    <a href="todo/show/1">
                        <%=todo.description%>
                    </a>
                </td>
                <td>
                    <span class="pomodoro-estimate">
                        <%=todo.pomodoro_estimate%> pomodoro
                    </span>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    <p>
        <button id="new-todo-button">
            <a href="/todo/new" style="text-decoration: none; color: #ffffff">add new todo</a>
        </button>
    </p>
</div>