
        <h1 id="listtitle">to-do list</h1>
            <table>
                <tr>
                    <th id="centered">To-Do(s)</th>
                    <th id="centered">Promodoro(s)</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">make four boxes</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">1 pomodoro</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">make new tab for input place</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">1 pomodoro</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">make what i did for my input wireframe</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">5 pomodoros</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">go back and create the check list</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">3 pomodoros</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">create the calendar</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">5 pomodoros</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">create the schedule planner</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">6 pomodoros</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">create the timer</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">3 pomodoros</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                        <a href="todo/show">make screen sizer for each box of items</a>
                    </td>
                    <td>
                        <span class="pomodoro-estimate">3 pomodoros</span>
                    </td>
                </tr>
            </table>
            
        <div id="new-todo">
        <h1 id="todotitle">add to-do</h1>
        <p>Text<p>
        <input type="text" id="new-todo-description" type="text" placeholder>
        <p>Pomodoro Estimate</p>
        <input type="number" id="new-pomodoro-estimate" type="number" placeholder>
        <p>
            <button id="add-to-do-button">submit</button>
        </p>
        </div>