<div style="text-align: center">
    <h1 class="header">New Todo</h1>
    <form action="/todo/create">
        <div style="display: inline-block; text-align: left">
            <p>Text</p>
            <input type="text" name="description" id="new-todo-description">
            <p>Pomodoro Estimate</p>
            <input type="number" name="pomodoro_estimate" id="new-pomodoro-estimate">
        </div>
        <br></br>
            <button id="back-button" style="margin-right: 10px">
                <a href="/todos" style="text-decoration: none; color: #ffffff">back</a>
            </button>
            <button id="add-to-do-button" style="margin-left: 10px">submit</button>
    </form>
</div>