<div style="text-align: center">
    <h1 id="todotitle">New Todo</h1>
    <form action="/todo/create">
        <div style="display: inline-block; text-align: left;">
            <p>Text</p>
            <input type="text" id="new-todo-description" type="text" placeholder="enter a description">
            <p>Pomodoro Estimate</p>
            <input type="number" id="new-pomodoro-estimate" type="number" placeholder="pomodoro estimate">
        </div>
        <br></br>
            <button id="back-button">
                <a href="/todos">back</a>
            </button>
            <button id="add-to-do-button">submit</button>
    </form>
</div>