<div style="text-align: center">
    <h1>To-Do List</h1>
    <h2 id="todo_num">Todo #<%=@t.id%>:</h2>
    <h2>
        <strong>
            <%=@t.description%>
        </strong>
    </h2>
    <p>
        <span id="pomodoro-estimate"><%=@t.pomodoro_estimate%> pomoderos</span>
    </p>
    <div style="display: inline-block; text-align: left;">
        <p>
            <input type="checkbox">
            make it make sense and have it ready
        </p>
    </div>
    </br>
    <button><a href="/todos">back</a></button>
    <button><a href="">edit</a></button>
    <button><a href="">delete</a></button>
</div>