<div style="text-align: center">
    <h1>To-Do List</h1>
    <h2>
        <strong>
            <%=@t.description%>
        </strong>
    </h2>
    <p>
        <span id="pomodoro-estimate"><%=@t.pomodoro_estimate%> pomoderos</span>
    </p>
    <div style="display: inline-block; text-align: left;">
        <h2>
            <input type="checkbox">
            DONE
        </h2>
    </div>
    </br>
    <button id="back-one-button">
        <a href="/todos" style="text-decoration: none; color: #ffffff">back</a>
    </button>
    <button id="edit-button">
        <a href="/todo/edit/<%=@t.id%>" style="text-decoration: none; color: #ffffff">edit</a>
    </button>
    <button id="delete-one-button">
        <a href="/todo/destroy/<%=@t.id%>" style="text-decoration: none; color: #ffffff">delete</a>
    </button>
</div>