        <p>
            <strong>make the curriculum</strong>
        </p>
        <input type="checkbox">
        <p>make it make sense and have it ready</p>
        <p>3 pomoderos</p>
        <button><a href="/todos">go back</a></button>
        <button><a href="">edit</a></button>
        <button><a href="">delete</a></button>