<h1>to-do list</h1>
<h2 id="todo_num">Todo #<%=params[:id]%>:</h2>
<h2>
    <strong>
        <%=@todo_description%>
    </strong>
</h2>
<p>
    <input type="checkbox">
        make it make sense and have it ready
</p>
<p>
    <span id="pomodoro-estimate"><%=@todo_pomodoro_estimate%> pomoderos</span>
</p>
<button><a href="/todos">go back</a></button>
<button><a href="">edit</a></button>
<button><a href="">delete</a></button>